body.dark {

    --primary: #DB5E6C;
    --primary-hover: #be6a74cf;
    --primary-pressed: #c24d59;
    --primary-disabled: #81595f;

    --white: #171717;
    --black: #ADADAD;

    --gray: #242424;
    --gray-light: #222222;
    --gray-dark: #4d4d4d;


    --text-primary: #dbdbdb;
    --text-secondary: #ADADAD;
    --text-muted: #ADADAD;

    --border: 1px solid var(--gray-dark);
    --focus-ring: rgba(229, 115, 132, 0.4);
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.6);

    color: var(--text-primary);
    background: #171717;
}

body.dark img {
    filter: brightness(0.9);
}