/* Contenedor general */
.filter-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-subgroup {
    border-top: 1px solid #374151;
}

/* Título del filtro */
.filter-title {
    font-weight: 600;
    color: #374151;
    /* text-gray-700 */
    font-size: 0.875rem;
    /* text-sm */
}

/* Lista de checkboxes */
.filter-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-left: -22px;
}

/* Cada ítem de filtro */
.filter-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Checkbox personalizado */
.filter-checkbox {
    accent-color: #A7F3D0;
    /* accent-green-500 */
}

/* Etiqueta del checkbox */
.filter-label {
    font-size: 0.875rem;
    /* text-sm */
    color: #1f2937;
    /* text-gray-800 */
}

.filter-btn{
    background-color: #F3F4F6;
    padding: 5px;
    border-radius: 5px;
    all: unset;
    cursor: pointer;
    
}