.filter-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-subgroup {
    border-top: var(--border);
}

.filter-title {
    font-weight: 600;
    color: var(--text-secondary);
    /* text-gray-700 */
    font-size: 0.875rem;
    /* text-sm */
}

.filter-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-left: -22px;
}

.filter-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
