.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 32px;
}

.logo {
    font-size: 2.6rem;
    font-weight: normal;
    text-decoration: none;
    color: inherit;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav {
    list-style: none;
    padding-left: 0;
    display: flex;
    background-color: white;
    border-top-left-radius: 132px;
    border-bottom-left-radius: 132px;
    border-top-right-radius: 132px;
    border-bottom-right-radius: 132px;
}

.nav-cart {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    text-decoration: none;
}

.cart-icon-wrapper {
    position: relative;
    display: inline-block;
}

.cart-icon {
    font-size: 1rem;
}

.cart-count-badge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
    right: -65px;
    background-color: var(--primary);
    color: white;
    border-radius: 50%;
    border: solid 1.5px #fff;
    font-size: 0.65rem;
    line-height: 1;
    font-weight: 600;
    width: 25px;
    height: 25px;
}

.cart-total {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--gray);
}

.nav-item a {
    border-radius: 132px;
    padding: 8px 16px;
    color: var(--black);
    text-decoration: none;
    color: initial;
    display: inline-block;
}


.nav-item a:hover {
    color: #f07f8f;
    
}

.nav-item a.active {
    color: #cc4d5b;
}

.theme-switcher {
    all: unset;
    box-sizing: border-box;
    outline: revert;
    display: flex;
    border-radius: 50%;
    background-color: white;
    padding: 8px;
    cursor: pointer;
}

.theme-switcher:hover {
    background-color: rgba(255 255 255 / 50%);
}