.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 68px;
}

.details-image {
    border-radius: 8px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.nutrition {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.nutrition th,
td {
    padding: 10px;
    text-align: left;
}

.nutrition th {
    font-weight: bold;
}

.nutrition th,
td {
    border-bottom: 1px solid var(--border);
}

.nutrition tr:first-child th {
    border-bottom: 2px solid var(--black);
}

.details-name {
    margin-bottom: 16px;
}

.details-price {
    font-size: 1.5rem;
    margin-top: 0;
}

.details-a2c {
    margin-top: 45px;
}