.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 68px;
}

.details__image {
    border-radius: 8px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.details__nutrition {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.details__nutrition th,
td {
    padding: 10px;
    text-align: left;
}

.details__nutrition th {
    font-weight: bold;
}

.details__nutrition th,
td {
    border-bottom: 1px solid var(--border);
}

.details__nutrition tr:first-child th {
    border-bottom: 2px solid var(--black);
}

.details__name {
    margin-bottom: 16px;
}

.details__price {
    font-size: 1.5rem;
    margin-top: 0;
}

.details__actions {
    margin-top: 80px;
    width: fit-content;
    display: inline-block;
    display: flex;
    align-items: center;
}
