@media (max-width: 1142px) {
    .checkout-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        box-sizing: unset;
    }

    .cart-totals {
        margin-top: 1rem;
    }

    .checkout-right,
    .checkout-left {
        min-width: 100%;
    }

    .cart-totals {
        min-width: 100%;
        margin-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: 1fr;
    }

    .navbar {
        padding-bottom: 10px;
    }

    .products-title {
        grid-template-columns: 1fr;
    }

    .products-filter-container {
        display: flex;
        justify-content: space-between;
    }

    .products-filter-btn {
        display: inline-block;
    }

    .product {
        margin-top: 1rem;
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        background-color: white;
        z-index: 1000;
        padding: 2rem 1.5rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        overflow-y: auto;
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .sidebar-open-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .filter-apply-btn {
        display: block;
    }

    .cart-item-quantity {
        flex-direction: column;
    }

    .quantity-buttons {
        margin-top: -50px;
    }

}

@media (max-width: 750px) {
    .navbar {
        flex-direction: column;
    }

    .logo {
        font-size: larger;
    }


    .checkout-left {
        flex-direction: column;
    }

    
    .row {
        flex-direction: column;
    }
}

@media (max-width: 500px) {

    .btn-nav,
    .nav-item {
        font-size: 0.8rem;
        white-space: nowrap;
    }

    .cart-count-total {
        display: none;
    }

}

@media (max-width: 412px) {

    h1 {
        font-size: large;
    }

    .cart-item {
        flex-direction: column;
        min-height: fit-content;
        position: relative;
    }

    .cart-item-remove {
        position: absolute;
        top: 10px;
        right: 8px;
    }
}

@media (max-width: 360px) {
    .cart-item-img {
        display: none;
    }

    .shipping-form button{
       min-width: 26px;
    }
}